<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Liên hệ</h1></div>

    <div class="pagenation">&nbsp;<%= link_to "Trang chủ", root_path %> <i>/</i> Liên hệ</div>

  </div>
</div><!-- end page title -->


<div class="clearfix"></div>

<div class="container">

  <div class="content_fullwidth">

    <div class="one_half">
      <p>Đừng ngần ngại, hãy liên hệ ngay với chúng tôi để được giải đáp mọi ý kiến thắc mắc! Mọi tin nhắn sẽ được phản hồi chậm nhất sau 24h.
        Cảm ơn bạn đã quan tâm!</p>
      <br />
      <p><strong>Đường dây nóng:</strong> +84 123 456 789</p>
      <br /><br />

      <div class="cforms">

        <form action="#" method="post" id="sky-form" class="sky-form">
          <header>Gửi thư liên hệ</header>
          <fieldset>
            <div class="row">
              <section class="col col-6">
                <label class="label">Họ tên</label>
                <label class="input"> <i class="icon-append icon-user"></i>
                  <input type="text" name="name" id="name">
                </label>
              </section>
              <section class="col col-6">
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append icon-envelope-alt"></i>
                  <input type="email" name="email" id="email">
                </label>
              </section>
            </div>
            <section>
              <label class="label">Tiêu đề</label>
              <label class="input"> <i class="icon-append icon-tag"></i>
                <input type="text" name="subject" id="subject">
              </label>
            </section>
            <section>
              <label class="label">Nội dung</label>
              <label class="textarea"> <i class="icon-append icon-comment"></i>
                <textarea rows="4" name="message" id="message"></textarea>
              </label>
            </section>
            <section>
              <label class="checkbox">
                <input type="checkbox" name="copy" id="copy">
                <i></i>Gửi bản sao đến địa chỉ email của tôi</label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="button">Gửi tin nhắn</button>
          </footer>
          <div class="message"> <i class="icon-ok"></i>
            <p>Tin nhắn của bạn đã được gửi thành công!</p>
          </div>
        </form>

      </div>

    </div>

    <div class="one_half last">

      <div class="address_info">

        <h3>Thông tin liên hệ</h3>
        <ul>
          <li> <strong>Trường Đại học Hà Nội</strong><br />
            Địa chỉ: Km 9, đường Nguyễn Trãi, quận Thanh Xuân, Hà Nội, Việt Nam.<br />
            Điện thoại: (84-4)38544338<br />
            Fax: (84-4)38544550<br />
            E-mail: <a href="mailto: hanu@hanu.vn"> hanu@hanu.vn</a><br />
            Website: <a href="http://w3.hanu.vn/vn">http://w3.hanu.vn/vn</a> </li>
        </ul>
      </div>
      <h3>Bản đồ</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3725.0879082911542!2d105.79564099999999!3d20.989112999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acc7f3dca9e5%3A0x30cf5a97471f1064!2sHanoi+University!5e0!3m2!1sen!2svn!4v1416502175289" width="600" height="450" frameborder="0" style="border:0"></iframe>
      <br />
      <small><a href="https://www.google.com/maps/place/Hanoi+University/@20.989113,105.795641,17z/data=!3m1!4b1!4m2!3m1!1s0x3135acc7f3dca9e5:0x30cf5a97471f1064?hl=en" target="_blank">View Larger Map</a></small> </div>

  </div>

</div>

<div class="clearfix margin_top7"></div>