<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Khám phá thiên văn</h1></div>

    <div class="pagenation">&nbsp;<a href="index.html">Trang chủ</a> <i>/</i> Khám phá</div>

  </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="features_sec8">
  <div class="container">

    <h2 class="section_title_drakgray lessmar">Khám phá</h2>
    <br>
    <div class="content_box">

      <div class="left">

        <h3><img src="<%= image_path("icon/icon-8.png") %>" alt="" /> Quan sát thiên văn</h3>

        <ul>
          <li><a href="#">Tiêu điểm quan sát</a></li>
          <li><a href="#">Dụng cụ quan sát</a></li>
          <li><a href="#">Kĩ năng quan sát</a></li>
        </ul>

      </div><!-- end section -->

      <div class="vline"></div>


      <div class="center">

        <h3><img src="<%= image_path('icon/icon-9.png') %>" alt="" /> Vũ trụ học & Vật lý thiên văn</h3>

        <ul>
          <li><a href="#">Vật lý thiên văn & Hạt nhân</a></li>
          <li><a href="#">Vật chất tối & Năng lượng tối</a></li>
          <li><a href="#">Sự hình thành vũ trụ</a></li>
        </ul>

      </div><!-- end section -->

      <div class="vline"></div>

      <div class="right">

        <h3><img src="<%= image_path('icon/icon-10.png') %>" alt="" /> Công nghệ khám phá vũ trụ</h3>

        <ul>
          <li><a href="#">Kính thiên văn</a></li>
          <li><a href="#">Tàu thăm dò</a></li>
          <li><a href="#">Tên lửa vũ trụ</a></li>
          <li><a href="#">Vệ tinh nhân tạo</a></li>
        </ul>

      </div><!-- end section -->

    </div>

  </div>
</div><!-- end features section8 -->

<div class="clearfix margin_top4"></div>
