<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Kiến thức thiên văn</h1></div>

    <div class="pagenation">&nbsp;<%= link_to "Trang chủ", root_path %> <i>/</i> Kiến thức</div>

  </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="features_sec22">
  <div class="container">

    <h2 class="section_title_drakgray">Kiến thức thiên văn</h2>

    <div class="one_third">
      <div class="box">

        <div class="icon"><img src="<%= image_path("icon/icon-5.png") %>" alt="" /></div>

        <h2>Hệ Mặt Trời</h2>
        <ul class="arrows_list1">
          <li><a href="#"><i class="fa fa-angle-right"></i> Mặt trời</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Hành tinh</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Các vệ tinh tự nhiên</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Sao chổi</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Tiểu hành tinh</a></li>
        </ul>

      </div>
    </div><!-- end section -->

    <div class="one_third">
      <div class="box">

        <div class="icon"><img src="<%= image_path("icon/icon-6.png") %>" alt="" /></div>

        <h2>Thiên hà</h2>
        <ul class="arrows_list1">
          <li><a href="#"><i class="fa fa-angle-right"></i> Dải ngân hà</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Tinh vân & Cụm sao</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Ngoại thiên hà</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Sao, Hệ sao & Ngoại hành tinh</a></li>
          <br>
        </ul>

      </div>
    </div><!-- end section -->

    <div class="one_third last">
      <div class="box">

        <div class="icon"><img src="<%= image_path("icon/icon-7.png") %>" alt="" /></div>

        <h2>Câu hỏi</h2>
        <ul class="arrows_list1">
          <li><a href="#"><i class="fa fa-angle-right"></i> Trái Đất & Hệ mặt trời</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Thiên cầu & Các chòm sao</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Sao & Thiên hà</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Vũ trụ, không gian & thời gian</a></li>
          <br>
        </ul>

      </div>
    </div><!-- end section -->

  </div>
</div><!-- end features section22 -->

<div class="clearfix margin_top4"></div>